* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0px;
    padding: 20px 10px;
    background-color: #ffffffc5;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    z-index: 999;
    backdrop-filter: blur(20px);
}
/**Logo*/
.nav__logo img{
    max-width: 150px;
}

/**Burger Menu*/
.burger__menu-checkbox{
    display: none;
}
.burger__menu{
    position: relative;
    display: none;
    width: 40px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
}
.burger__menu span{
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    transform-origin: left center;
    opacity: 1;
    transition: .1s ease-in-out;
    left: 0;
    transform: rotate(0deg);
}
.burger__menu span:nth-of-type(2){
    top: 50%;
    transform: translateY(-50%);
}
.burger__menu span:nth-of-type(3){
    top: 100%;
    transform: translateY(-100%);
}
.burger__menu-checkbox:checked + .nav__menu .burger__menu span:nth-of-type(1){
    left: 5px;
    transform: rotate(45deg);
}
.burger__menu-checkbox:checked + .nav__menu .burger__menu span:nth-of-type(2){
    width: 0%;
    opacity: 0;
}
.burger__menu-checkbox:checked + .nav__menu .burger__menu span:nth-of-type(3){
    top: 28px;
    left: 5px;
    transform: rotate(-45deg);
}


/**Nav menu*/
.nav__menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav__menu .menu__items{
    font-size: clamp(1rem, 0.875rem + 0.4vw, 1.25rem);
    color: #000;
    font-weight: 400;
    padding: 3px 10px;
    border-radius: 5px;
    &:hover{
        background-color: #B9FF66;
    }
}
.request_quote{
    padding: 8px 15px !important;
    border: 1px solid #000;
    border-radius:10px !important;
}




.introduction{
    margin-top: 5rem;
    padding: 20px;
    display: flex;
    gap: 30px;
}
.introduction .introduction__text{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.introduction__text h1{
    font-size: clamp(2.1rem, 0.6875rem + 4vw, 3.5rem);
    width: 90%;
}
.introduction__text__img{
    display: none;
    img{
        width: 100%;
        height: auto;
    }
}
.introduction .introduction__img{
    flex-basis: 50%;
    img{
        width: 100%;
        height: auto;
    }
}

.introduction__text__info-para{
    width: 80%;
    font-size: 1rem;
}
.introduction__text__button button{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #191a23;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    backface-visibility: hidden;
}
.introduction-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
}
.introduction-btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0,0,0,.2);
}

.introduction-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #191a23;
    border-radius: 10px;
    display: inline-block;
    transition: all .3s;
    opacity: 1;
    z-index: -999;
}
.introduction-btn:hover::after{
    transform: scaleX(1.2) scaleY(1.5);
    opacity: 0;
}


/* *Ads Section */

.ads{
    margin-top: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    grid-template-rows: auto;
    align-content: center;
    align-items: center;
    gap: 50px;
}
.ads__items{
    height: 50px;
    align-content: center;
    cursor: pointer;
}
.ads__items img{
    width: 100%;
    height: auto;
    filter: grayscale(100);
    transition: all .3s;
}
.ads__notion{
    display: flex;
    align-items: center;
}
.ads__notion img{
    width: 25%;
    align-self: center;
}
.ads__notion h3{
    flex-basis: 50%;
    font-size: clamp(1.7rem, 1.5rem + 1.0667vw, 2.5rem);
    align-self: center;
}

.ads__items:hover img{
    filter: grayscale(0);
}
/* ! Header Done */




/* *    Main    */













@media (max-width:880px){
    /* Navigation */
    .nav__menu{
        gap: 10px;
    }
    .request_quote{
        padding: 3px 5px !important;
    }
    .nav__menu .menu__items{
        padding: 3px 5px;
    }
}


@media (max-width:769px){
    
    .nav__menu{
        position: fixed;
        right: 2%;
        flex-direction: column;
        padding: 10px 10px 35px 10px;
    }
    .nav__menu li{
        display: none;
    }
    .burger__menu{
        display: block;
    }
    .menu__items{
        display: none;
    }
    .burger__menu-checkbox:checked + .nav__menu .menu__items{
        display: block;
        font-size: 1.5rem;
    }
    .burger__menu-checkbox:checked + .nav__menu {
        width: 300px;
        height: 400px;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        border: 1px solid rgba(128, 128, 128, 0.534);
        background: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.342);
    }
    .burger__menu-checkbox:checked + .nav__menu .burger__menu{
        align-self: flex-end;
    }
    .burger__menu-checkbox:checked + .nav__menu li{
        display: inline;
    }
    .introduction__text__img{
        display: block;
        width: 70%;
        align-self: center;
    }
    .introduction .introduction__text{
        flex-basis: 100%;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }
    .introduction__text h1{
        width: 90%;
    }
    .introduction__text__info-para{
        width: 100%;
    }
    .introduction .introduction__img{
        flex-basis: 0;
        display: none;
    }
    /* *Responsive of Header */


    
}


